node_modules

pnpm-lock.yaml
yarn.lock
bun.lockb
.env
.env.local
.env.production.local
.env.development.local
.nx/installation
.nx/cache
.nx/workspace-data

# Build outputs
dist/
.svelte-kit/
build/
coverage/
storybook-static/


.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
vite.config.*.timestamp*
test-output

# Local & System Files
.DS_Store
.gemini/
.mcp.json
