# Dependencies and build output
node_modules
dist
tmp

# Environment files
.env
.env.local
.env.production.local
.env.development.local

# Tooling logs
npm-debug.log*
yarn-error.log*

# Editor and OS files
.fleet
.idea
.vscode
.DS_Store
